/*Author: Kaylee Gelz */


/*Global Styles*/
    body{
     background-color: black;

  
 }

    h1{
     color: orange;
 }

    

      h2{
          color: purple;
          font-size: 30px;
          font-family: serif;
      }

      button {
        size: 50px;
        background-color: white;
        color: black;
        border: 2px solid #da8637; 
        font-size: 30px;
        font-style: oblique;
      }

      h3{
          color: white;
          font-size: 40px;
          font-family: sans-serif;
      }




 











/*.grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    }





@media screen and (min-width: 700px) {
.grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto;

}
}























