/*Author: Kaylee Gelz 

1.Global Styles
2.Keyframes
3.Animations
4.Small Screen

*/





/*-----Global Styles-------*/
    body{
     background-color: black;
     display: grid;


  
 }

    h1{
     color: orange;
     text-align: center;
     font-family: sans-serif;
    
 }

    

      h2{
          color: orange;
          font-size: 1.8em;
          font-family: serif;
          overflow: hidden;
          border-right: .07em solid purple; 
          white-space: nowrap; 
          margin: 0 auto; 
          letter-spacing: .15em;
          letter-spacing: .5em;  
          animation: typing 5s steps(14),
                     blinking 1s steps(14);
                     
         

         
         
      }

      p{
          color: orange;
          font-size: 2.5em;
          font-family: fantasy;
      }

      .main button {
        width: 50%;
        height: 30%;
        background-color: white;
        color: black;
        border: 2px solid #da8637; 
        font-size: 20px;
        font-style: oblique;
        margin-left: 30%;
        align-self: center;
        justify-items: center;
        
      }

      h3{
        color: white;
        margin: 0;
        font-size: 5em;
        font-weight: 500;
        text-align: center;
       
    }

.main{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 30px;
}

.clouds {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    padding-top: 30px;
}



/*----row 3---*/
.bonus {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 30px;
    padding-left: 30px;
    align-content: center;
   
}

.bonus1 {
    grid-column: 1;
    

}

.trick {
    grid-column: 2;
    color: orange;
    font-size: 2em;
    font-family: serif;
    animation: scalein 2s 1s backwards;
}

.bonus2 {
    grid-column: 3;
}



/*------keyframes-----------*/
@keyframes blinking {
    0%, 100%{
        border-color: transparent;
    }
    50% {
        border-color: purple;
    }
}


@keyframes typing {
    0% {
        width: 0px;
    }
    100% {
        width: 100%;
    }
}

@keyframes flipup {
    from {transform: rotateX(90deg);}
    to {transform: rotateX(0deg);}

}

@keyframes flipdown {
    from {transform: rotateX(0deg);}
    to {transform: rotateX(-90deg);}
}

@keyframes float {
    0% {
        transform: translateX(-200px);}
    100% {
        transform: translateX(1400px);
    }
}

@keyframes scalein {
    0% {transform: scale(1.2);}
    80% {transform: scale(.8);}
    100% {transform: scale(1);}

}

@keyframes slide {
    0% { transform: translateX(0px);}
    100% {transform: translateX(1000px);}
    

}

@keyframes spin {
    0% {
        transform: rotate(0);

    }
    100% {
        transform: rotate(360deg);
    }
}

/*Animations*/

h3 {
    animation: flipup 2s cubic-bezier(.25,.44,.26,.73) both;
    animation-delay: 1.5s;
     
}


.main button:hover{
    transform: scale(1.5);
    background-color: orange;
    border-color: white;


}

.main button{
    transition: background .5s ease-out,
                transform .75s ease-in,
                color .5s ease-in-out;


}

.cloud1 {
    animation: float 30s linear infinite;
}

.cloud2 {
    animation: float 40s 3s linear infinite backwards;
}
 
.bonus1:hover {
    animation-name: slide;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 3;
    animation-direction: alternate;

}

.bonus2 {
    animation: spin 4s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}















/*------Small Screens-----*/
@media screen and (max-width: 600px) {
.main  {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
   

}
}























