/*Author: Kaylee Gelz */


/*Global Styles*/
    body{
     background-color: black;
     display: grid;


  
 }

    h1{
     color: orange;
     text-align: center;
     font-family: sans-serif;
    
 }

    

      h2{
          color: purple;
          font-size: 30px;
          font-family: serif;
          text-align: center;
      }

      .main button {
        width: 80%;
        height: 50%;
        background-color: white;
        color: black;
        border: 2px solid #da8637; 
        font-size: 30px;
        font-style: oblique;
        align-self: center;
        justify-items: center;
      }

      h3{
          color: white;
          font-size: 40px;
          font-family: sans-serif;
          text-align: center;
      }

.main{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}


 











/*.grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    }





@media screen and (min-width: 700px) {
.grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto;

}
}























