/*Author: Kaylee Gelz */


/*Global Styles*/
    body{
     background-color: black;
     display: grid;


  
 }

    h1{
     color: orange;
     text-align: center;
     font-family: sans-serif;
    
 }

    

      h2{
          color: orange;
          font-size: 30px;
          font-family: serif;
          overflow: hidden;
          text-align: left;
          border-right: 2px orange;
          animation: typing 5s steps(15),
                blinking .75s steps(1) infinite
         

         
         
      }

      .main button {
        width: 50%;
        height: 30%;
        background-color: white;
        color: black;
        border: 2px solid #da8637; 
        font-size: 20px;
        font-style: oblique;
        align-self: center;
        justify-items: center;
        
      }

      h3{
          color: white;
          font-size: 40px;
          font-family: sans-serif;
          text-align: center;
      }

.main{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}



@keyframes blinking {
    0%, 100%{
        border-color: transparent;
    }
    50% {
        border-color: purple;
    }
}


@keyframes typing {
    0% {
        width: 0px;
    }
    100% {
        width: 100%;
    }
}

@keyframes wiggle {


}

.main button:hover{
    transform: scale(1.5);
    background-color: orange;
    border-color: white;


}

.main button{
    transition: background .5s ease-out,
                transform .75s ease-in,
                color .5s ease-in-out;


}
 











/*.grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    }





@media screen and (min-width: 700px) {
.grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto;

}
}























